<template>
  <div>
    <h1>Create A Product</h1>
    <form @submit.prevent="addProduct">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Product Name:</label>
            <input
              type="text"
              placeholder="name"
              class="form-control"
              v-model="product.name"
              required
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Product price</label>
            <input
              type="number"
              placeholder="price"
              class="form-control"
              v-model="product.price"
              required
            />
          </div>
        </div>
      </div>
      <br />
      <div class="form-group">
        <button class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      product: {}
    };
  },
  methods: {
    addProduct() {
      let uri =
        "https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/product";
      this.axios.post(uri, this.product).then(response => {
        this.$router.push({ name: "products" });
      });
    }
  }
};
</script>