<template>
  <div>
    <h1>Add a Customer</h1>
    <form @submit.prevent="addCustomer">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Customer Name:</label>
            <input
              type="text"
              placeholder="full names"
              class="form-control"
              v-model="customer.name"
              required
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Customer address:</label>
            <input
              type="text"
              placeholder="address"
              class="form-control"
              v-model="customer.address"
              required
            />
          </div>
        </div>
      </div>
      <br />
      <div class="form-group">
        <button class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "CreateCustomers",
  data() {
    return {
      customer: {}
    };
  },
  methods: {
    addCustomer() {
      let uri =
        "https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/customer";
      this.axios.post(uri, this.customer).then(response => {
        this.$router.push({ name: "customers" });
      });
    }
  }
};
</script>