<template>
  <div>
    <h1>Create An Invoice</h1>
    <form @submit.prevent="addInvoice">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Invoice Date:</label>
            <input type="datetime-local" class="form-control" v-model="date" required />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Customer:</label>
            <input class="form-control" v-model="invoice.customer" required />
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Products:</label>
            <input class="form-control" v-model="invoice.products" required />
          </div>
        </div>
      </div>
      <br />
      <div class="form-group">
        <button class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      invoice: {},
      date: Date
    };
  },
  methods: {
    addInvoice() {
      let uri =
        "https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/customer/5/invoice";
      this.axios.post(uri, this.invoice).then(response => {
        this.$router.push({ name: "invoices" });
      });
    }
  }
};
</script>