<template>
  <div id="customers-form">
    <form @submit.prevent="handleSubmit">
      <label>Customer name:</label>
      <input
        ref="first"
        :class="{ 'has-error': submitting && invalidEmail }"
        type="text"
        @focus="clearStatus"
        @keypress="clearStatus"
        v-model="Customer.name"
      />
      <label>Customer Email:</label>
      <input
        type="text"
        @focus="clearStatus"
        :class="{ 'has-error': submitting && invalidEmail }"
        v-model="Customer.email"
      />
      <p v-if="error && submitting" class="error-message">❗Please fill out all required fields</p>
      <p v-if="success" class="success-message">✅ Customer successfully added</p>
      <button>Add Customer</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "customers-form",
  data() {
    return {
      //check if the data is being submited and return and error or success message
      submitting: false,
      error: false,
      success: false,
      Customer: {
        name: "",
        email: ""
      }
    };
  }, //method listens to input event from fields and passes the data to this parent
  methods: {
    handleSubmit() {
      this.submitting = true;
      this.clearStatus();
      //if the fields are incorrectly filled return and error
      if (this.invalidName || this.invalidEmail) {
        this.error = true;
        return;
      }
      //otherwise create an event to  capture user input
      this.$emit("add:Customer", this.Customer);
      this.$refs.first.focus();
      this.Customer = {
        name: "",
        email: ""
      }; //return a success message
      this.error = false;
      this.success = true;
      this.submitting = false;
    }, //clear for data submission
    clearStatus() {
      this.success = false;
      this.error = false;
    }
  }, //check for empty fields before form submit
  computed: {
    invalidName() {
      return this.Customer.name === "";
    },

    invalidEmail() {
      return this.Customer.email === "";
    }
  }
};
</script>

<style scoped>
#customers-form {
  margin-top: 150px;
}
form {
  margin-bottom: 2rem;
}
[class*="-message"] {
  font-weight: 500;
}

.error-message {
  color: #d33c40;
}

.success-message {
  color: #32a95d;
}
</style>