<template>
  <div id="CustomersDetails">
    <form @submit.prevent="addCustomer">
      <div class="form-group">
        <label>First Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="firstName"
          v-model="customer.firstName"
        >
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input
          class="form-control"
          placeholder="lastName"
          v-model="customer.lastName"
        >
      </div>
      <div class="form-group">
        <label>Email</label>
        <input
          class="form-control"
          placeholder="email"
          v-model="customer.email"
        >
      </div>
      <div class="form-group">
        <label>Phone Number</label>
        <input
          class="form-control"
          placeholder="phone"
          v-model="customer.phone"
        >
      </div>
      <div class="form-group">
        <label>Address</label>
        <input
          class="form-control"
          placeholder="address"
          v-model="customer.address"
        >
      </div>
      <button
        type="submit"
        class="btn btn-success"
      >
        Add Customer
      </button>
    </form>
    <nav>
      <ul class="pagination justify-content-center">
        <li
          :class="[{disabled: !pagination.prev_page_url}]"
          class="page-item"
        >
          <a
            class="page-link"
            href="#"
            @click="getCustomers(pagination.prev_page_url)"
          >Previous</a>
        </li>
        <li class="page-item disabled">
          <a
            class="page-link"
            href="#"
          >{{ pagination.current_page }} of {{ pagination.last_page }}</a>
        </li>
        <li
          :class="[{disabled: !pagination.next_page_url}]"
          class="page-item"
        >
          <a
            class="page-link"
            href="#"
            @click="getCustomers(pagination.next_page_url)"
          >Next</a>
        </li>
      </ul>
    </nav>
    <div
      class="card mb-2"
      v-for="customer in customers"
      :key="customer.id"
    >
      <div class="card-body">
        <h4 class="card-title">
          {{ customer.firstName }}
        </h4>
        <p class="card-text">
          {{ customer.lastName }}
        </p>
        <p class="card-text">
          {{ customer.email }}
        </p>
        <p class="card-text">
          {{ customer.phone }}
        </p>
        <p class="card-text">
          {{ customer.address }}
        </p>

        <button
          type="button"
          @click="deleteCustomer(customer.id)"
          class="btn btn-secondary"
        >
          Delete
        </button>
        <button
          type="button"
          @click="updateCustomer(customer)"
          class="btn btn-success"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</template>
 
<script>
export default {
  name: "CustomerDetails",
  data() {
    return {
      customers: [],
      pagination: {},
      customer: {
        id: "",
        firstName: "",
        lastName: "",
        email: "",
        phone: "",
        addresss: ""
      },
      update: false,
      customer_id: ""
    };
  },

  created() {
    this.getCustomers();
  },

  methods: {
    getCustomers(api_url) {
      api_url = api_url || "https://localhost:8000/api/products";
      fetch(api_url)
        .then(response => response.json())
        .then(response => {
          this.customers = response.data;
          vm.paginator(response.meta, response.links);
        })
        .catch(err => console.log(err));
    },
    paginator(meta, links) {
      this.pagination = {
        current_page: meta.current_page,
        last_page: meta.last_page,
        next_page_url: links.next,
        prev_page_url: links.prev
      };
    },

    addCustomer() {
      if (this.update === false) {
        fetch("https://localhost/api/products/create", {
          method: "post",
          body: JSON.stringify(this.customer),
          headers: {
            "content-types": "application/json"
          }
        })
          .then(response => response.json())
          .then(data => {
            this.clearForm();
            this.getCustomers();
          })
          .catch(err => console.log(err));
      } else {
        fetch(
          "https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/customer",
          {
            method: "put",
            body: JSON.stringify(this.customer),
            headers: {
              "content-type": "application/json"
            }
          }
        )
          .then(response => response.json())
          .then(data => {
            this.clearForm();
            this.getCustomers();
          })
          .catch(err => console.log(err));
      }
    },
    deleteCustomer(id) {
      fetch(
        "https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/customer" + id,
        {
          method: "delete"
        }
      )
        .then(response => response.json())
        .then(data => {
          this.getCustomers();
        })
        .catch(err => console.log(err));
    },
    updateCustomer(customer) {
      this.update = true;
      this.customer.id = customer.id;
      this.customer.customer_id = customer.id;
      this.customer.firstName = customer.firstName;
      this.customer.lastName = customer.lastName;
      this.customer.email = customer.email;
      this.customer.phone = customer.phone;
      this.customer.addresss = customer.addresss;
    },
    clearForm() {
      this.update = false;
      this.customer.id = null;
      this.customer.customer_id = null;
      this.customer.firstName = "";
      this.customer.lastName = "";
      this.customer.email = "";
      this.customer.phone = "";
      this.customer.addresss = "";
    }
  }
};
</script>