<template>
  <div id="customers-table" class="customers">
    <p v-if="customers.length < 1" class="empty-table">No Customers</p>
    <table v-else>
      <thead>
        <tr class="design">
          <th>Customer name</th>
          <th>Customer Address</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="design" v-for="customer in customers" :key="customer.id">
          <td v-if="editing === customer.id">
            <input type="text" v-model="customer.name" />
          </td>
          <td v-else>{{ customer.name }}</td>
          <td v-if="editing === customer.id">
            <input type="text" v-model="customer.address" />
          </td>
          <td v-else>{{ customer.address }}</td>
          <td v-if="editing === customer.id">
            <button @click="editCustomer(customer)">Save</button>
            <button class="muted-button" @click="cancelEdit(customer)">Cancel</button>
          </td>
          <td v-else>
            <button @click="editMode(customer.id)">Edit</button>
            <button @click="$emit('delete:customer', customer.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "customers-table",
  data() {
    return {
      editing: null
    };
  },
  methods: {
    editMode(id) {
      this.editing = id;
    },

    editCustomer(Customer) {
      if (Customer.name === "" || Customer.address === "") return;
      this.$emit("edit:Customer", Customer.id, Customer);
      this.editing = null;
    },

    cancelEdit(Customer) {
      Object.assign(Customer, this.cachedCustomer);
      this.editing = null;
    }
  },
  props: {
    customers: Array
  }
};
</script>

<style scoped>
button {
  margin: 0 0.5rem 0 0;
}
.customers {
  width: 400px;
  float: left;
  margin-left: 20%;
  height: auto;
  margin-top: 100px;
}
.design {
  border-top: solid;
  border-color: darkgrey;
}
</style>