<template>
  <div>
    <h1>CUSTOMER DETAILS</h1>
    <div class="row">
      <div class="col-md-10"></div>
      <div class="col-md-2">
        <router-link :to="{ name: 'createCustomers' }" class="btn btn-primary">Register Customer</router-link>
      </div>
    </div>
    <br />
    <p
      v-if="customers.length < 1"
      class="empty-table"
    >No Customers to display. Check your network connection</p>

    <table v-else class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="customer in customers" :key="customer.id">
          <td>{{ customer.id }}</td>
          <td>{{ customer.name }}</td>
          <td>{{ customer.address }}</td>
          <td>
            <router-link
              :to="{name: 'editCustomers', params: { id: customer.id, name: customer.name, },}"
              class="btn btn-primary"
            >Edit</router-link>
          </td>
          <td>
            <button class="btn btn-danger" @click.prevent="deleteCustomer(customer.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <nav>
      <ul class="pagination justify-content-center">
        <li :class="[{disabled: !pagination.prev_page_url}]" class="page-item">
          <a class="page-link" href="#" @click="getCustomers(pagination.prev_page_url)">Previous</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">{{ pagination.current_page }} of {{ pagination.last_page }}</a>
        </li>
        <li :class="[{disabled: !pagination.next_page_url}]" class="page-item">
          <a class="page-link" href="#" @click="getCustomers(pagination.next_page_url)">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  data() {
    return {
      customers: [],
      pagination: {}
    };
  },
  mounted() {
    this.getCustomers();
  },
  created() {
    let uri = `https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/customer`;
    this.axios.get(uri).then(response => {
      this.customer = response.data.items;
    });
  },
  methods: {
    paginator(meta, links) {
      this.pagination = {
        current_page: meta.current_page,
        last_page: meta.last_page,
        next_page_url: links.next,
        prev_page_url: links.prev
      };
    },
    async getCustomers(customer) {
      try {
        const response = await fetch(
          "https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/customer",
          {
            method: "GET",
            body: JSON.stringify(customer),
            headers: {
              "Content-type": "application/json; charset=UTF-8"
            },
            proxy: {
              host: "127.0.0.1",
              port: 8000
            }
          }
        );
        const data = await response.json();
        this.customers = data.items;
        this.paginator(response.meta, response.links);
      } catch (error) {
        console.error(error);
      }
    },
    deleteCustomer(id) {
      let uri = `https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/customer/${id}`;
      this.axios.delete(uri).then(response => {
        this.customers.splice(this.customers.indexOf(id), 1);
        this.$router.push({ name: "deleteresult" });
      });
    }
  }
};
</script>