<template>
  <div>
    <h1>Edit Product</h1>
    <form @submit.prevent="updateProduct">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Product Name:</label>
            <input type="text" class="form-control" v-model="product.product_name" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Product price:</label>
            <textarea class="form-control" v-model="product.product_price" rows="5"></textarea>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group">
        <button class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      product: {}
    };
  },
  created() {
    let uri = `https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/product/${this.$route.params.id}`;
    this.axios.get(uri).then(response => {
      this.product = response.data;
    });
  },
  methods: {
    updateProduct() {
      let uri = `https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/product/${this.$route.params.id}`;
      this.axios.put(uri, this.product).then(response => {
        this.$router.push({ name: "products" });
      });
    }
  }
};
</script>