<template>
  <div>
    <h1>Review Invoice Details</h1>
    <form @submit.prevent="updateInvoice">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Date:</label>
            <input type="text" class="form-control" v-model="invoice.date" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Customer:</label>
            <textarea class="form-control" v-model="invoice.customer" rows="5"></textarea>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group">
        <button class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      invoice: {}
    };
  },
  created() {
    let uri = `https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/customer/${this.$route.params.id}/invoice`;
    this.axios.get(uri).then(response => {
      this.invoice = response.data;
    });
  },
  methods: {
    updateInvoice() {
      let uri = `https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/customer/${this.$route.params.id}/invoice`;
      this.axios.post(uri, this.invoice).then(response => {
        this.$router.push({ name: "invoices" });
      });
    }
  }
};
</script>