<template>
  <div>
    <h1>Edit Customer Details</h1>
    <form @submit.prevent="updateCustomer">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Customer name:</label>
            <input type="text" class="form-control" v-model="customer.name" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Customer address:</label>
            <textarea class="form-control" v-model="customer.address" rows="5"></textarea>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group">
        <button class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      customer: {}
    };
  },
  created() {
    let uri = `https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/customer/${this.$route.params.id}`;
    this.axios.get(uri).then(response => {
      this.customer = response.data;
    });
  },
  methods: {
    updateCustomer() {
      let uri = `https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/customer/${this.$route.params.id}`;
      this.axios.put(uri, this.customer).then(response => {
        this.$router.push({ name: "customers" });
      });
    }
  }
};
</script>