<template>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card card-default">
        <div class="card-header">
          <b>API User Interface</b>
        </div>
        <div class="card-body">Click on the above links to Start.</div>
        <div id="login">
          <div class="card-header">
            <b>User Panel</b>
          </div>
          <div class="card-body">
            <div class="form-group">
              <td>
                <router-link :to="{name:'register'}" class="btn btn-primary">Register</router-link>
                <router-link :to="{name:'login'}" class="btn btn-primary">Login</router-link>
              </td>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {};
</script>
<style scoped>
#login {
  width: 100%;
  height: auto;
  float: right;
}
.card-header {
  background-color: orangered;
color:white;
}
.btn-primary {
  margin-left: 20px;
}
</style>