<template>
  <div id="InvoiceDetails">
    <form @submit.prevent="addInvoice">
      <div class="form-group">
        <label>Date</label>
        <input
          type="text"
          class="form-control"
          placeholder="Date"
          v-model="invoice.date"
        >
      </div>
      <div class="form-group">
        <label>Customer name</label>
        <input
          class="form-control"
          placeholder="Customer Name"
          v-model="invoice.customer"
        >
      </div>
      <div class="form-group">
        <label>Purchased Products</label>
        <input
          class="form-control"
          placeholder="Products"
          v-model="invoice.products"
        >
      </div>
      <button
        type="submit"
        class="btn btn-success"
      >
        Add Invoice
      </button>
    </form>
    <nav>
      <ul class="pagination justify-content-center">
        <li
          :class="[{disabled: !pagination.prev_page_url}]"
          class="page-item"
        >
          <a
            class="page-link"
            href="#"
            @click="getInvoice(pagination.prev_page_url)"
          >Previous</a>
        </li>
        <li class="page-item disabled">
          <a
            class="page-link"
            href="#"
          >{{ pagination.current_page }} of {{ pagination.last_page }}</a>
        </li>
        <li
          :class="[{disabled: !pagination.next_page_url}]"
          class="page-item"
        >
          <a
            class="page-link"
            href="#"
            @click="getInvoice(pagination.next_page_url)"
          >Next</a>
        </li>
      </ul>
    </nav>
    <div
      class="card mb-2"
      v-for="invoice in invoices"
      :key="invoice.id"
    >
      <div class="card-body">
        <h4 class="card-title">
          {{ invoice.date }}
        </h4>
        <p class="card-text">
          {{ invoice.customer }}
        </p>
        <p class="card-text">
          {{ to_array( invoice.products) }}
        </p>

        <button
          type="button"
          @click="deleteInvoice(invoice.id)"
          class="btn btn-secondary"
        >
          Delete
        </button>
        <button
          type="button"
          @click="updateInvoice(invoice.products)"
          class="btn btn-success"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</template>
 
<script>
export default {
  name: "InvoiceDetails",
  data() {
    return {
      invoices: [],
      pagination: {},
      invoice: {
        id: "",
        date: "",
        customer: "",
        products: ""
      },
      update: false,
      invoice_id: ""
    };
  },

  created() {
    this.getInvoice();
  },

  methods: {
    getInvoice(api_url) {
      api_url = api_url || "https://localhost:8000/api/invoice";
      fetch(api_url)
        .then(response => response.json())
        .then(response => {
          this.invoice = response.data;
          vm.paginator(response.meta, response.links);
        })
        .catch(err => console.log(err));
    },
    paginator(meta, links) {
      this.pagination = {
        current_page: meta.current_page,
        last_page: meta.last_page,
        next_page_url: links.next,
        prev_page_url: links.prev
      };
    },

    addInvoice() {
      if (this.update === false) {
        fetch("https://localhost/api/products/create", {
          method: "post",
          body: JSON.stringify(this.invoice),
          headers: {
            "content-type": "application/json"
          }
        })
          .then(response => response.json())
          .then(data => {
            this.clearForm();
            this.getInvoice();
          })
          .catch(err => console.log(err));
      } else {
        fetch(
          "https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/customer",
          {
            method: "put",
            body: JSON.stringify(this.invoice),
            headers: {
              "content-type": "application/json"
            }
          }
        )
          .then(response => response.json())
          .then(data => {
            this.clearForm();
            this.getInvoice();
          })
          .catch(err => console.log(err));
      }
    },
    deleteInvoice(id) {
      fetch(
        "https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/customer" + id,
        {
          method: "delete"
        }
      )
        .then(response => response.json())
        .then(data => {
          this.getInvoice();
        })
        .catch(err => console.log(err));
    },
    updateInvoice(products) {
      this.update = true;
      this.invoice.id = invoice.id;
      this.invoice.invoice_id = invoice.id;
      this.invoice.date = invoice.date;
      this.invoice.customer = invoice.customer;
      this.invoice.products = invoice.products;
    },
    clearForm() {
      this.update = false;
      this.invoice.id = null;
      this.invoice.invoice_id = null;
      this.invoice.date = "";
      this.invoice.customer = "";
      this.invoice.products = "";
    }
  }
};
</script>