<template>
  <div>
    <h1>Your Invoices</h1>
    <div class="row">
      <div class="col-md-10"></div>
      <div class="col-md-2">
        <router-link :to="{ name: 'createInvoices' }" class="btn btn-primary">Add an Invoice</router-link>
      </div>
    </div>
    <br />
    <p
      v-if="invoices.length < 1"
      class="empty-table"
    >No invoices to display. Check your network connection</p>

    <table v-else class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Customer</th>
          <th>Products</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="invoice in invoices" :key="invoice.id">
          <td>{{ invoice.id }}</td>
          <td>{{ invoice.date }}</td>
          <td>{{ invoice.customer }}</td>
          <td>{{ invoice.products }}</td>

          <td>
            <router-link
              :to="{name: 'editInvoices', params: { id: invoice.id }}"
              class="btn btn-primary"
            >Edit</router-link>
          </td>
          <td>
            <button class="btn btn-danger" @click.prevent="deleteInvoice(invoice.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      invoices: []
    };
  },
  created() {
    let uri =
      "https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/customer/${this.$route.params.id}/invoice";
    this.axios.get(uri).then(response => {
      this.invoices = response.data.data;
    });
  },
  methods: {
    deleteInvoice(id) {
      let uri = `https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/customer/${this.$route.params.id}/invoice/${id}`;
      this.axios.delete(uri).then(response => {
        this.invoices.splice(this.invoices.indexOf(id), 1);
      });
    }
  }
};
</script>