<template>
  <div>
    <div class="alert alert-info">
      <strong>Please Login here</strong>
      <br />
    </div>
    <form name="login" @submit.prevent="getUsers">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          v-model.trim="username.$model"
          name="username"
          class="form-control"
          :class="{ 'is-invalid': submitted && username.$error }"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          v-model.trim="password.$model"
          name="password"
          class="form-control"
          :class="{}"
          required
        />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" :disabled="loading" type="submit">
          <span class="spinner-border spinner-border-sm" v-show="loading"></span>
          <span>Login</span>
        </button>
      </div>
      <div v-if="error" class="alert alert-danger">{{error}}</div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      username: "",
      password: "",
      user: { username: "", email: "", password: "" },
      submitted: false,
      loading: false,
      returnUrl: "",
      error: ""
    };
  },
  mounted() {
    this.getUsers();
  },
  created() {
    
  },
  methods: {
    async getUsers(user) {
      try {
        const response = await fetch(
          "https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/user",
          {
            method: "GET",
            body: JSON.stringify(user),
            headers: {
              "Content-type": "application/json; charset=UTF-8"
            },
            proxy: {
              host: "127.0.0.1",
              port: 8000
            }
          }
        );
        const data = await response.json();
        this.user = data;
      } catch (error) {
        console.log(error);
      }
    },
    onSubmit() {
      this.submitted = true;

      // stop here if form is invalid
    },
    login: function () {
        let username = this.username 
        let password = this.password
        this.$store.dispatch('login', { username, password })
       .then(() => this.$router.push('/'))
       .catch(err => console.log(err))
      }

  }
};
</script>
<style scoped>
.form-group {
  width: 50%;
}
</style>