<template>
  <div id="links">
    <h1>{{ msg }}</h1>

    <nav id="links" class="navbar navbar-expand-lg navbar-dark bg-primary">
      <ul>
        <li>
          <router-link name="Products" to="{name: 'products'}" exact>Home</router-link>
        </li>
      </ul>
      <div class="menu">
        <a class="navbar-brand" href="/products">PRODUCTS</a>
      </div>
      <div class="menu">
        <a class="navbar-brand" href="http://localhost:8000/api/customers">CUSTOMERS</a>
      </div>
      <div class="menu">
        <a class="navbar-brand" href="http://localhost:8000/api/invoices">INVOICES</a>
      </div>
    </nav>
  </div>
</template>
<script>
export default {
  name: "NavBar",
  data() {
    return {
      msg: "DT API USER INTERFACE"
    };
  }
};
</script>
<style scoped>
.menu {
  background-color: rgb(81, 34, 212);
  width: auto;
  font-display: inherit;
  font-size: 12px;
  height: 50px;
  border: inset;
  margin: 5px 30px 5px 5px;
}

#links {
  padding-left: 20%;
  align-self: center;
  align-content: center;
  width: 90%;
  height: 60px;
  border-radius: 20px 20px 40px 40px;
}
</style>