<template>
  <div id="info">
    <form @submit.prevent="addPost">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="name"
          v-model="post.name"
        >
      </div>
      <div class="form-group">
        <input
          class="form-control"
          placeholder="price"
          v-model="post.price"
        >
      </div>
      <button
        type="submit"
        class="btn btn-success"
      >
        Add Product
      </button>
    </form>
    <nav>
      <ul class="pagination justify-content-center">
        <li
          :class="[{disabled: !pagination.prev_page_url}]"
          class="page-item"
        >
          <a
            class="page-link"
            href="#"
            @click="getPosts(pagination.prev_page_url)"
          >Previous</a>
        </li>
        <li class="page-item disabled">
          <a
            class="page-link"
            href="#"
          >{{ pagination.current_page }} of {{ pagination.last_page }}</a>
        </li>
        <li
          :class="[{disabled: !pagination.next_page_url}]"
          class="page-item"
        >
          <a
            class="page-link"
            href="#"
            @click="getPosts(pagination.next_page_url)"
          >Next</a>
        </li>
      </ul>
    </nav>
    <div
      class="card mb-2"
      v-for="post in posts"
      :key="post.id"
    >
      <div class="card-body">
        <h4 class="card-title">
          {{ post.name }}
        </h4>
        <p class="card-text">
          {{ post.price }}
        </p>
        <button
          type="button"
          @click="deletePost(post.id)"
          class="btn btn-secondary"
        >
          Delete
        </button>
        <button
          type="button"
          @click="updatePost(post)"
          class="btn btn-success"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</template>
 
<script>
export default {
  name: "Info",
  data() {
    return {
      posts: [],
      pagination: {},
      post: {
        id: "",
        name: "",
        price: ""
      },
      update: false,
      post_id: ""
    };
  },

  created() {
    this.getPosts();
  },

  methods: {
    getPosts(api_url) {
      api_url = api_url || "https://localhost:8000/api/products";
      fetch(api_url)
        .then(response => response.json())
        .then(response => {
          this.posts = response.data;
          vm.paginator(response.meta, response.links);
        })
        .catch(err => console.log(err));
    },
    paginator(meta, links) {
      this.pagination = {
        current_page: meta.current_page,
        last_page: meta.last_page,
        next_page_url: links.next,
        prev_page_url: links.prev
      };
    },

    addPost() {
      if (this.update === false) {
        fetch("https://localhost/api/products/create", {
          method: "post",
          body: JSON.stringify(this.post),
          headers: {
            "content-type": "application/json"
          }
        })
          .then(response => response.json())
          .then(data => {
            this.clearForm();
            this.getPosts();
          })
          .catch(err => console.log(err));
      } else {
        fetch(
          "https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/customer",
          {
            method: "put",
            body: JSON.stringify(this.post),
            headers: {
              "content-type": "application/json"
            }
          }
        )
          .then(response => response.json())
          .then(data => {
            this.clearForm();
            this.getPosts();
          })
          .catch(err => console.log(err));
      }
    },
    deletePost(id) {
      fetch(
        "https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/customer" + id,
        {
          method: "delete"
        }
      )
        .then(response => response.json())
        .then(data => {
          this.getPosts();
        })
        .catch(err => console.log(err));
    },
    updatePost(post) {
      this.update = true;
      this.post.id = post.id;
      this.post.post_id = post.id;
      this.post.title = post.title;
      this.post.body = post.body;
    },
    clearForm() {
      this.update = false;
      this.post.id = null;
      this.post.post_id = null;
      this.post.title = "";
      this.post.body = "";
    }
  }
};
</script>