<template>
  <div>
    <h1>Product Details</h1>
    <div class="row">
      <div class="col-md-10" />
      <div class="col-md-2">
        <router-link
          :to="{ name: 'create' }"
          class="btn btn-primary"
        >
          Create Post
        </router-link>
      </div>
    </div>
    <br>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Item Name</th>
          <th>Item Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="product in products"
          :key="product.id"
        >
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>
            <router-link
              :to="{name: 'edit', params: { id: product.id }}"
              class="btn btn-primary"
            >
              Edit
            </router-link>
          </td>
          <td>
            <button class="btn btn-danger">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      products: []
    };
  },
  created() {
    let uri = "http://vuelaravelcrud.test/api/posts";
    this.axios.get(uri).then(response => {
      this.products = response.data.data;
    });
  },
  methods: {
    deletePost(id) {
      let uri = `http://vuelaravelcrud.test/api/post/delete/${id}`;
      this.axios.delete(uri).then(response => {
        this.products.splice(this.products.indexOf(id), 1);
      });
    }
  }
};
</script>