<template>
  <div id="ProductsDetails">
    <form @submit.prevent="addProduct">
      <div class="form-group">
        <label>Product Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="name"
          v-model="product.name"
        >
      </div>
      <div class="form-group">
        <label>Price</label>
        <input
          class="form-control"
          placeholder="price"
          v-model="product.price"
        >
      </div>
      <div class="form-group">
        <label>description</label>
        <input
          class="form-control"
          placeholder="description"
          v-model="product.description"
        >
      </div>
      <button
        type="submit"
        class="btn btn-success"
      >
        Add Product
      </button>
    </form>
    <nav>
      <ul class="pagination justify-content-center">
        <li
          :class="[{disabled: !pagination.prev_page_url}]"
          class="page-item"
        >
          <a
            class="page-link"
            href="#"
            @click="getProducts(pagination.prev_page_url)"
          >Previous</a>
        </li>
        <li class="page-item disabled">
          <a
            class="page-link"
            href="#"
          >{{ pagination.current_page }} of {{ pagination.last_page }}</a>
        </li>
        <li
          :class="[{disabled: !pagination.next_page_url}]"
          class="page-item"
        >
          <a
            class="page-link"
            href="#"
            @click="getProducts(pagination.next_page_url)"
          >Next</a>
        </li>
      </ul>
    </nav>
    <div
      class="card mb-2"
      v-for="product in products"
      :key="product.id"
    >
      <div class="card-body">
        <h4 class="card-title">
          {{ product.name }}
        </h4>
        <p class="card-text">
          {{ product.price }}
        </p>
        <p class="card-text">
          {{ product.description }}
        </p>

        <button
          type="button"
          @click="deleteProduct(product.id)"
          class="btn btn-secondary"
        >
          Delete
        </button>
        <button
          type="button"
          @click="updateProduct(products)"
          class="btn btn-success"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</template>
 
<script>
export default {
  name: "ProductsDetails",
  data() {
    return {
      products: [],
      pagination: {},
      product: {
        id: "",
        name: "",
        price: "",
        description: ""
      },
      update: false,
      product_id: ""
    };
  },

  created() {
    this.getProducts();
  },

  methods: {
    getProducts(api_url) {
      api_url = api_url || "http://localhost:8000/api/products";
      fetch(api_url)
        .then(response => response.json())
        .then(response => {
          this.products = response.data;
          vm.paginator(response.meta, response.links);
        })
        .catch(err => console.log(err));
    },
    paginator(meta, links) {
      this.pagination = {
        current_page: meta.current_page,
        last_page: meta.last_page,
        next_page_url: links.next,
        prev_page_url: links.prev
      };
    },

    addProduct() {
      if (this.update === false) {
        fetch("http://localhost/api/products/create", {
          method: "post",
          body: JSON.stringify(this.product),
          headers: {
            "content-type": "application/json"
          }
        })
          .then(response => response.json())
          .then(data => {
            this.clearForm();
            this.getProducts();
          })
          .catch(err => console.log(err));
      } else {
        fetch(
          "https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/customer",
          {
            method: "put",
            body: JSON.stringify(this.product),
            headers: {
              "content-type": "application/json"
            }
          }
        )
          .then(response => response.json())
          .then(data => {
            this.clearForm();
            this.getProducts();
          })
          .catch(err => console.log(err));
      }
    },
    deleteProduct(id) {
      fetch(
        "https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/customer" + id,
        {
          method: "delete"
        }
      )
        .then(response => response.json())
        .then(data => {
          this.getProducts();
        })
        .catch(err => console.log(err));
    },
    updateProducts(product) {
      this.update = true;
      this.product.id = product.id;
      this.product.product_id = product.id;
      this.product.name = product.name;
      this.product.price = product.price;
      this.product.description = product.description;
    },
    clearForm() {
      this.update = false;
      this.product.id = null;
      this.product.product_id = null;
      this.product.name = "";
      this.product.price = "";
      this.product.description = "";
    }
  }
};
</script>