<template>
  <div>
    <h1>Available Products</h1>
    <div class="row">
      <div class="col-md-10"></div>
      <div class="col-md-2">
        <router-link :to="{ name: 'createProducts' }" class="btn btn-primary">Add new Product</router-link>
      </div>
    </div>
    <br />
    <p
      v-if="products.length < 1"
      class="empty-table"
    >No Products to display. Check your network connection</p>

    <table v-else class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Item Name</th>
          <th>Item Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="product in products" :key="product.id">
          <td>{{ product.id }}</td>
          <td>{{ product.product_name }}</td>
          <td>{{ product.product_price }}</td>

          <td>
            <router-link
              :to="{name: 'editProducts', params: { id: product.id , name: product.product_name },}"
              class="btn btn-primary"
            >Edit</router-link>
          </td>
          <td>
            <button class="btn btn-danger" @click.prevent="deleteProduct(product.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <nav>
      <ul class="pagination justify-content-center">
        <li :class="[{disabled: !pagination.prev_page_url}]" class="page-item">
          <a class="page-link" href="#" @click="getProducts(pagination.prev_page_url)">Previous</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">{{ pagination.current_page }} of {{ pagination.last_page }}</a>
        </li>
        <li :class="[{disabled: !pagination.next_page_url}]" class="page-item">
          <a class="page-link" href="" @click="getProducts(pagination.next_page_url)">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  data() {
    return {
      products: [],
      pagination: {}
    };
  },
  created() {
    let uri = "https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/product";
    this.axios.get(uri).then(response => {
      this.products = response.data;
    });
  },
  methods: {
    paginator(meta, links) {
      this.pagination = {
        current_page: meta.current_page,
        last_page: meta.last_page,
        next_page_url: links.next,
        prev_page_url: links.prev
      };
    },
    async getProducts(product) {
      try {
        const response = await fetch(
          "https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/product",
          {
            method: "GET",
            body: JSON.stringify(product),
            headers: {
              "Content-type": "application/json; charset=UTF-8"
            },
            proxy: {
              host: "127.0.0.1",
              port: 8000
            }
          }
        );
        const data = await response.json();
        this.products = data;
                this.paginator(response.meta, response.links);

      } catch (error) {
        console.error(error);
      }
    },
    deleteProduct(id) {
      let uri = `https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/product/${id}`;
      this.axios.delete(uri).then(response => {
        this.products.splice(this.products.indexOf(id), 1);
        this.$router.push({ name: "deleteResult" });
      });
    }
  }
};
</script>