<template>
  <div>
    <div class="alert alert-info">
      <strong>Create your account</strong>
      <br />
    </div>
    <form @submit.prevent="handlesubmit">
      <div class="form-group">
        <label for="username">Username:</label>
        <br />
        <input
          type="text"
          ref="first"
          name="username"
          :class="{ 'has-error': submitting && invalidName }"
          @focus="clearStatus"
          @keypress="clearStatus"
          v-model="user.username"
          required autofocus
        />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <br />
        <input
          type="email"
          name="email"
          @focus="clearStatus"
          :class="{ 'has-error': submitting && invalidEmail }"
          v-model="user.email"
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          name="password" v-model="user.password"
          @focus="clearStatus"
          class="form-control"
          :class="{}"
          required
        />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" :disabled="loading" type="submit">
          <span class="spinner-border spinner-border-sm" v-show="loading"></span>
          <span>Register</span>
        </button>
      </div>
      <p v-if="error && submitting" class="error-message">
        ❗Please fill out all required fields</p>
      <p v-if="success" class="success-message">
        ✅ User successfully added</p>
    </form>
  </div>
</template>

<script>

export default {
  data() {
    return {
      submitting: false,
      error: false,
      success: false,
      user: { username: "", email: "", password: "" },
      submitted: false,
      loading: false,
      returnUrl: "",
      msg: "You have been successfully registered"
    };
  },
  methods: {
  
    addUser() {
      let uri = "https://5da394e1a6593f0014079f5d.mockapi.io/sp5/api/v1/user";
      this.axios.post(uri, this.user).then(response => {
        this.$router.push({ name: "login" });
      });
    },
    //onSubmit() {
    //this.submitted = true;

    // stop here if form is invalid
    // },

    handleSubmit() {
      this.submitting = true;
      this.clearStatus();
      //if the fields are incorrectly filled return and error
      if (this.invalidName || this.invalidEmail) {
        this.error = true;
        return;
      }
      //otherwise create an event to  capture user input
      this.$emit("add:user", this.user);
      this.$refs.first.focus();
      this.user = {
        username: "",
        email: "",
        password: ""
      }; //return a success message
      this.error = false;
      this.success = true;
      this.submitting = false;
    }, //clear for data submission
    clearStatus() {
      this.success = false;
      this.error = false;
    }
  }, //check for empty fields before form submit
  computed: {
    invalidName() {
      return this.user.username === "";
    },

    invalidEmail() {
      return this.user.email === "";
    }
  }
};
</script>
<style scoped>
.form-group {
  width: 50%;
}
form {
  margin-bottom: 2rem;
}
[class*="-message"] {
  font-weight: 500;
}

.error-message {
  color: #d33c40;
}

.success-message {
  color: #32a95d;
}
</style>